@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    margin-left: 30px;

}

.home-link{
    width:79px;
    height: 29px;
}

.about-link{
    width: 90px;
    height: 29px;
}

.product-link{
    width: 126px;
    height: 29px;
}

.service-link{
    width: 108px;
    height: 29px;
}

.contact-link{
    width: 120px;
    height: 29px;

}

.login-button{
    color: #FFFFFF;
    background: #8200E5;
    width: 130px;
    height: 41px;
    border: none;
    border-radius: 20.5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    margin-left: 30px;


}

section{
    display: inline-block;
    margin-left: 86px;

}

h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
    margin-top: 20px;
}

h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    margin-bottom: 30px;

}

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    text-align: justify;
    margin-bottom: 20px;
}

.explore-button{
    background: #ADFF00;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;    
    color: #000000;

}


.img-logo{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    margin-top: 20px;
   
}

@media screen and (max-width:700px){
    header{
        display: none;

    }

    main{
        width: 100vw;
        height: 100vh;
        align-items: center;
    }

    .img-logo{
        width: 354px;
        height: 317px;
        opacity: 1;
        margin: 110px 20px 10px 15px;
    }


    h1{
        width: 263px;
        height: 52px;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-left: -28px;
    }

    h2{
        width: 232px;
        height: 37px;
        opacity: 1;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-left: -15px;
    }

    p{
        display:none;
    }

    button{
        width: 239px;
        height: 64px;
        border-radius: 50px;
        font-size: 28px;
        line-height: 100%;
        margin-left: 20px; 
        letter-spacing: 0%;     
    }

    
}   

@media screen and (max-width:430px){

    .img-logo{
        margin: 126px 0px 14px 33px;
    }

    h1{
        margin-left: -5px;
    }

    h2{
        margin-left: 9px;
    }

    button{
        margin-left: 48px;
    }


}







